table {
    text-align: center;
    color: green;
    border-collapse: collapse;
    font-family: sans-serif;
}

table td,
table th {
    border: 1px solid green;
    padding: 10px;
    min-height: 160px;
}

img {
    width: 100px;
    height: 100px;
}

.container {
    max-width: 700px;
    text-align: center;
    color: green;
    font-size: 40px;
    padding-bottom: 1px;
}

button:hover {
    background-color: rgb(125, 133, 70); /* Mudança de cor quando o mouse passa por cima */
}

.editar{
    margin-left: 10px;
    color: blueviolet;
}
