<div class="product-list">
  <div class="container">Lista de Produtos</div>
  <p class="message-p">{{productMessage}}</p>
  <table>
    <thead>
      <tr>
        <th>Nome do Produto</th>
        <th>Preço do Produto</th>
        <th>Cor do Produto</th>
        <th>Categoria do Produto</th>
        <th>Descrição do Produto</th>
        <th>Imagem do Produto</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{item.image}}" /></td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.color}}</td>
        <td>{{item.category}}</td>
        <td>{{item.description}}</td>
        <td>
          <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>         
          <a class="editar" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="editIcon"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
