.body {
    font-family: sans-serif !important;
}

.container {
    margin-left: 15%;
    margin-right: 5%;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 700px;
}

.form-button {
    height: 35px;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.form-button:hover {
    background-color: teal; /* Altera a cor de fundo quando o mouse passa por cima */
}


.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid teal;
    color: teal;
}

.error-p {
    color: red;
}

.message-p {
    color: green;
    text-align: center;
}

.caroucel-caption {
    background-color: black !important;
    border-radius: 15px;
}

.caroucel-control-next-icon,
.caroucel-control-prev-icon {
    background-color: black;
    border-radius: 10px;
    height: 40px;
    width: 60px;
}

.invalid-input {
    color: red;
    font-size: 12px;
    margin-top: -20px;
}

button:disabled {
    cursor: not-allowed;
}

.max-width {
    width: 100%;
}