<div class="card">
    <div class="search-item">
        <div class="image-container">
            <img src="https://imgs.casasbahia.com.br/55064141/1g.jpg" class="card-img img-thumbnail" alt="Imagem do produto">
        </div>
        <div class="text-container">
            <div class="card-body">
                <h5 class="card-title">Nome do Produto</h5>
                <p class="card-text">Preço: R$5000</p>
                <p class="card-text"><small class="text-muted">Cor: Green | Categoria: Mobile</small></p>
                <p class="card-text">Produto encontrado</p>
            </div>
        </div>
    </div>
</div>
