<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="search-item" *ngFor="let item of searchResult">
    <div class="image-container">
      <a routerLink="/details/{{item.id}}"></a>
      <img src="{{item.image}}"
        alt="Imagem do produto">
    </div>
    <div class="text-container">
      <div class="card-body">
        <h5 class="card-title"> {{item.name}}"</h5>
        <p class="card-text">Preço: {{item.price}}"</p>
        <p class="card-text">Categoria: {{item.category}}"</p>
        <p class="card-text"><small class="text-muted">Cor: {{item.color}}"</small></p>
        <p class="card-text">{{item.description}}"</p>
      </div>
    </div>
  </div>
</div>
