<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="search-item">
        <div class="image-container">
            <img src="https://images-submarino.b2w.io/spacey/suba/2023/06/14/5881867050_1GG-a0e1d26326c0.webp" alt="Imagem do produto">
        </div>
        <div class="text-container">
            <div class="card-body">
                <h5 class="card-title">  </h5>
                <p class="card-text">Preço:  </p>
                <p class="card-text">Categoria:  </p>
                <p class="card-text"><small class="text-muted">Cor:  </small></p>
                <p class="card-text">  </p>
            </div>
        </div>
    </div>
</div>
