.search-item {
    margin: 25px;
    width: 600px;
    border-top: 1px solid darkblue;
    padding: 10px;
    display: flex;
}

.image-container {
    width: 40%;
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.text-container .card-body {
    text-align: left;
    margin-top: 0;
}

/* Ajustes nas margens para aproximar o texto da imagem */
.text-container h5,
.text-container p {
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: large;
}

.search-item span {
    margin-right: 10px;
}