<div id="mainSlider" class="carousel slide" data-ride="carousel" *ngIf="popularProducts">
  <div class="carousel-inner">
    <div *ngFor="let item of popularProducts; let isFirst = first" class="carousel-item" [class.active]="isFirst">
      <img class="d-block w-100 product-img" [src]="item.image" alt="Slide">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="carousel-caption">{{ item.name }}</h3>
        <p class="carousel-caption">{{ item.description }}</p>
      </div>
    </div>
  </div>
  <div class="carousel-caption">
  <a class="carousel-control-prev carousel-caption" href="#mainSlider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only carousel-caption">Previous</span>
  </a>
  <a class="carousel-control-next carousel-caption" href="#mainSlider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only carousel-caption">Next</span>
  </a>
</div>
</div>



<!-- <div class="container-fluid">
  <div id="mainSlider" class="carousel-slide" data-ride="carousel" *ngIf="popularProducts">
    <ol class="carousel-indicators" *ngFor="let item of popularProducts">
      <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
      <li data-target="#mainSlider" data-slide-to="1"></li>
      <li data-target="#mainSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item-active">
        <img src="{{item.image}}" alt="Projeto Loja Angular" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{item.description}}</h2>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- 
<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="product-img" src="{{item.image}}" alt="Random first slide">
    </div>
    <div class="caroucel-caption">
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
    </div>
  </ng-template>
</ngb-carousel> -->
